<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
                <ul>
                    <li><form form-method="post" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="login-btn" type="submit">Logout</button>
                        <button sec:authorize="isAnonymous()" th:href="@{/login}" class="login-btn" type="submit">Login</button>
                    </form></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/registro}" class="login-btn" style="font-size: 14px">Registro</a></li></ul>
            </div>
        </div>
    </div>
</div>
<div class="logo-wrap">
    <div class="container">
        <div style="display:none; " class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
                <a href="index.html">
                    <img th:src="@{/img/4Geeks.jpg}" height=50px width="40%" class="img-fluid" src="../static/img/4Geeks.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 logo-right no-padding ads-banner">
                <img class="img-fluid" src="" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container main-menu" id="main-menu">
    <div class="row align-items-center justify-content-between">
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">4GEEKS</a></li>
                <li><a th:href="@{/categoria/tecnologia}">Tecnología</a></li>
                <li><a th:href="@{/categoria/videojuegos}">Videojuegos</a></li>

                <li><a th:href="@{/categoria/cine%20y%20series}">Cine y Series</a></li>
                <li><a th:href="@{/categoria/cultura}">Cultura</a></li>
                <li><a th:href="@{/categoria/comunidad}">Comunidad</a></li>
                <li class="menu-has-children"><a>Admin</a>
                    <ul>
                        <li><a th:href="@{articulo/nuevoArticulo}">Escribir Artículo</a></li>
                        <li><a th:href="@{/admin/posts}">Gestión artículos</a></li>
<!--                        <li><a href="gallery-post.html">Gallery Post</a></li>-->
<!--                        <li><a href="video-post.html">Video Post</a></li>-->
<!--                        <li><a th:href="@{/nuevoArticulo}">Escribir artículo</a></li>-->
                    </ul>
                </li>
            </ul>
        </nav><!-- #nav-menu-container -->
        <div class="navbar-right">
            <form class="Search">
                <input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
                <label for="Search-box" class="Search-box-label">
                    <span class="lnr lnr-magnifier"></span>
                </label>
                <span class="Search-close">
								<span class="lnr lnr-cross"></span>
							</span>
            </form>
        </div>
    </div>
</div>