<!--
		CSS
		============================================= -->
<link th:href="@{/css/linearicons.css}" 	 rel="stylesheet" href="../static/css/linearicons.css">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" href="../static/css/font-awesome.min.css">
<link th:href="@{/css/bootstrap.css}" 		 rel="stylesheet" href="../static/css/bootstrap.css">
<link th:href="@{/css/magnific-popup.css}" 	 rel="stylesheet" href="../static/css/magnific-popup.css">
<link th:href="@{/css/nice-select.css}"	     rel="stylesheet" href="../static/css/nice-select.css">
<link th:href="@{/css/animate.min.css}" 	 rel="stylesheet" href="../static/css/animate.min.css">
<link th:href="@{/css/owl.carousel.css}" 	 rel="stylesheet" href="../static/css/owl.carousel.css">
<link th:href="@{/css/jquery-ui.css}" 	 	 rel="stylesheet" href="../static/css/jquery-ui.css">
<link th:href="@{/css/main.css}" 			 rel="stylesheet" href="../static/css/main.css">